<!DOCTYPE html>
<html>
<head>

    <title>How to Parse a JSON file using jQuery</title>


</head>
<body>
    <div id="container">


        <div class="" id="senatorPacContainer">
    		<div id="twentyTotalPac"><input type="button" value="Get and parse JSON" class="button" /><br/>TWENTY SENATORS WHO HAVE RAISED MOST PAC MONEY<br/></div>

            <div id="newPacs">TWENTY NEWEST PACS<br/></div>

            <div id="newSuperPacs">TWENTY NEWEST SUPERPACS<br/></div>

        </div>


        <!--   <table class="sunlightSenatorInfo"> 
          </table> --> 

        <svg class="chart"></svg>


            
    </div>     
</body>
</html>