<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href='http://fonts.googleapis.com/css?family=Inika&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

<!--     <link rel="stylesheet" type="text/css" href="jquery.fullPage.css" />
    <link rel="stylesheet" type="text/css" href="animate.css">
    <script type="text/javascript" src="jquery.fullPage.min.js"></script> -->
    
</head>
<body>
    <div id="fullpage">
        <div class="section" id="about" data-anchor="slide1">
            <div id="logoContainer"><h1 id="logo" style="float:left">TRACKING</h1><h1 style="float:right;">THE MONEY</h1></div>
        </div>
        <div class="section" id="senator" data-anchor="slide2"> 
            <div class="slide">       
                <div class="" id="senatorPacContainer">
                    <div id="headerContainer" >
                        <h1>Twenty Politicians Who Have Recieve the Most PAC Money</h1>
                    </div>
                    <div id="twentyTotalPac"></div>
                </div>
            </div>
            <div class="slide">
                <div class="" id="senatorPacContainer">
                    <div id="headerContainer" >
                        <h1>Twenty Who Have Recieved the Most Total Donations</h1>
                    </div>
                    <div id="twentyTotal"></div>
                </div>
            </div>
            <div class="slide">
                <div class="" id="senatorPacContainer">
                    <div id="headerContainer" >
                        <h1>Twenty Who Have Recieved the Most Individual Donations</h1>
                    </div>
                    <div id="twentyTotalIndividual"></div>
                </div>
            </div>
        </div>
        <div class="section" id="supreme" data-anchor="slide3">
            <div class="" id="twentyNewestPacsContainer">
                <h3 id="title">The Newest PACS</h3>
            </div>
            
            <div class="" id="twentyNewestSuperPacsContainer">
                <h3>The Newest SuperPacs</h3>
            </div>
        </div>
        <div class="section" id="charts" data-anchor="slide4">
            <div class="slide">
                <svg class="chart"></svg>
            </div>
            <div class="slide">   
                <div id="bubblechart"></div> 
            </div>
            <div class="slide">Bar Chart<canvas id="myChart" width="1100" height="600"></canvas></div>
            <div class="slide">Pie Chart<canvas id="myPieChart" width="1100" height="600"></div>
        </div>
    </div>
</body>
</html>