<!doctype html>
<html>
<head>

    <title>How to Parse a JSON file using jQuery</title>
    <script src="js/jquery.windows.js"></script>

</head>
<body>

    <a href="data.json" target="_blank">Open JSON file</a><br />
    <input type="button" value="Get and parse JSON" class="button" />
    <br />
<!--     <div id="sunlightSenatorInfo"></div> -->
    <br />
    <div id="twentyTotalPac"></div>

</body>
</html>