<!DOCTYPE html>
<html>
<head>

    <title>How to Parse a JSON file using jQuery</title>
<!--     <link rel="stylesheet" href="assets/animate.min.css">
    <script type="text/javascript" src="assets/animation.js"></script> -->


</head>
<body>
    <div id="container">
        <h3>TWENTY SENATORS WHO HAVE RAISED MOST PAC MONEY</h3><br/>
        <div class="" id="senatorPacContainer">
            <div id="twentyTotalPac"></div>
        </div>
        <h3>TWENTY NEWEST PACS</h3><br/>
        <div class="" id="twentyNewestPacsContainer">
            <div id="newPacs"></div>
        </div>
        <h3>TWENTY NEWEST SUPERPACS</h3><br/>
        <div class="" id="senatorPacContainer">
            <div id="newSuperPacs"><br/></div>
        </div>
        <div class="" id="senatorPacContainer">
            <svg class="chart"></svg>
        </div>
        <!--   <table class="sunlightSenatorInfo"> 
          </table> -->            
    </div>     
</body>
</html>