<!doctype html>
<html>
<head>

    <title>How to Parse a JSON file using jQuery</title>


</head>
<body>
    <div id="container">
        <div class="" id="senatorPacContainer">
    		<div id="twentyTotalPac"><input type="button" value="Get and parse JSON" class="button" /><br/>
            </div>
        </div> 
            <!-- <div id="sunlightSenatorInfo"> -->
            
        </div>   
    </div>    
</body>
</html>