        #senatorPacContainer {
            width: 100%;
            height: 860px;
            overflow: auto;
            border: 2px solid black;
            margin: 0 auto;
            padding-left: 65px;
            padding-top: 15px;
        }
        #twentyNewestPacsContainer {
            width: 100%;
            height: 660px;
            overflow: auto;
            border: 2px solid black;
            margin: 0 auto;
            padding-left: 65px;
            padding-top: 15px;
        }

        #REP {
            float: left;
            padding: 10px;
            background-color: red;
            margin: 10px;
        }

        #DEM {
            float: left;
            padding: 10px;
            background-color: blue;
            margin: 10px;
        }

        .section {
            float: left;
            margin: 10px;
        }
            

      /*  .button{
            margin:20px;
            font-size:16px;
            font-weight: bold;
            padding:5px 10px;
        }


        #twentyTotalPac {

            overflow: auto;
        }
        

                .section {
            float: left;
            
        }*/

        .chart rect {
            fill: steelblue;
        }

        .chart text {
            fill: white;
            font: 10px sans-serif;
            text-anchor: end;
        }





