        body{
            font-family: arial;
        }

        .button{
            margin:20px;
            font-size:16px;
            font-weight: bold;
            padding:5px 10px;
        }
        #REP {
        	float: left;
        	border: 3px solid black;
        	padding: 10px;
            background-color: red;
        }

        #DEM {
            float: left;
            border: 3px solid black;
            padding: 10px;
            background-color: blue;
        }

        #twentyTotalPac {
            height: 600px;
            overflow: auto;
        }
        
        #senatorPacContainer {
            height: 650px;
            overflow: auto;
        }

        .section {
            float: left;
            
        }

        .chart rect {
            fill: steelblue;
        }

        .chart text {
            fill: white;
            font: 10px sans-serif;
            text-anchor: end;
        }


