        body {
           /* background-color: black;*/
           color: white;
        }

        #senatorPacContainer {
            width: 100%;
            height: 860px;
            overflow: auto;
            margin: 0 auto;
            padding-left: 30px;
            padding-top: 15px;
            float: left;
        }

        #twentyNewestPacsContainer {
            float: left;
        }

        #REP {
            float: left;
            padding: 5px;
            background-color: red;
            margin: 10px;
        }

        #DEM {
            float: left;
            padding: 5px;
            background-color: blue;
            margin: 10px;
        }

        .notSection {
            float: left;
            margin: 10px;
        }

        .chart rect {
            fill: steelblue;
        }

        .chart text {
            fill: white;
            font: 10px sans-serif;
            text-anchor: end;
        }

        #about {
            background-size: cover;
            background-image: url("http://upload.wikimedia.org/wikipedia/commons/2/27/Capitol_Building_Full_View.jpg");
        }

        #senator {
            background-size: cover;
            background-image: url("http://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/111th_US_Senate_class_photo.jpg/1024px-111th_US_Senate_class_photo.jpg");
        }

        #supreme {
            background-size: cover;
            background-image: url("http://upload.wikimedia.org/wikipedia/commons/thumb/9/94/Supreme_Court.jpg/800px-Supreme_Court.jpg");
        }

        .senator {
            opacity: 0.7;
            font-weight:bold;
            border-radius: 15px;
        }

        #about {
            text-align: center;
            margin: 0px auto;
        }





